<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">XYZ</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Features
    </li>
  </ul>
</nav>
<div class="text-center">
  <h1>Wow, what an awesome page!</h1>
  <h3>Here are some reasons you should fill out our form:</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #2</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #3</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<!-- FORM -->
<form>
  <div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 cell">
      <label>First Name</label>
      <input type="text" id="first_name" placeholder="first name" />
    </div>

    <div class="large-4 medium-4 cell">
      <label>Last Name</label>
      <input type="text" id="last_name" placeholder="last name here" />
    </div>

    <div class="large-4 medium-4 cell">
      <label>Address</label>
      <input type="text" id="address" placeholder="tell me" />
    </div>

    <div class="large-4 medium-4 cell">
      <label>City</label>
      <input type="text" id="city" placeholder="where" />
    </div>

    <div class="large-4 medium-4 cell">
      <label>State</label>
      <input type="text" id="state" placeholder="you" />
    </div>

    <div class="large-4 medium-4 cell">
      <label>Zip Code</label>
      <input type="text" id="zip" placeholder="live" />
    </div>

    <div class="large-4 medium-4 cell">
      <div class="grid-x">
        <label>Email Address</label>
        <div class="input-group">
          <input type="text" placeholder="email here!!!" class="input-group-field" />
          <span class="input-group-label">.com</span>
        </div>
      </div>
    </div>

  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">

      <label>Gender</label>
      <input type="radio" id="male"><label>Male</label>
      <input type="radio" id="female"><label>Female</label>
      <input type="radio" id="other"><label>Other</label>
      <input type="radio" id="prefer_not"><label>Prefer Not to Answer</label>

    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 cell">
      <label>Choose Your Favorite EE</label>
      <select>
        <option value="kerrin">Kerrin</option>
        <option value="fang">Fang</option>
        <option value="nick">Nick</option>
      </select>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <label>Leave a Comment</label>
      <textarea placeholder="please dont make fun of me here, i am trying my best"></textarea>
    </div>
  </div>

<!-- SUBMIT -->
  <button class="button expanded" type="submit">Submit</button>

</form>
