.top-bar {
  color: #232520;
}

body {
  background-color: #EEEEEE;
  font-family: "Impact","Times New Roman", Times, serif;
}

p {
  font-family: "Arial", "Times New Roman", Times, serif;
}

h1 {
  font-family: "Impact","Times New Roman", Times, serif;
}

h3 {
  font-family: "Impact","Times New Roman", Times, serif;
}
